<p class="small">
    <i class="fas fa-bullhorn" aria-hidden="true"></i>
    Google広告
</p>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5933415741994658"
        crossorigin="anonymous"></script>
<!-- takaokouji-github-io-single -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5933415741994658"
     data-ad-slot="9496001164"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
 (adsbygoogle = window.adsbygoogle || []).push({});
</script>
