<p class="small">
    <i class="fas fa-bullhorn" aria-hidden="true"></i>
    Google広告
</p>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5933415741994658"
        crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-5933415741994658"
     data-ad-slot="5909090859"></ins>
<script>
 (adsbygoogle = window.adsbygoogle || []).push({});
</script>
